<div class="container">
    <div class="small-10 large-centered columns">
      <table>
         <thead>
           <tr><th>Answers for <%= @question.title %></th></tr>
         </thead>
        <tbody>

      </tbody>
      </table>
    </div>
  </div>
</div>
